<div class="container">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink id="link1">Tab1</button>
      <clr-tab-content id="content1" *clrIfActive>
        <form>
          <input clrInput type="text" placeholder="Email" #email />
        </form>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Tab2</button>
      <clr-tab-content *clrIfActive>
        <form>
          <input clrInput type="text" placeholder="Phone" #phone />
          <input clrInput type="text" placeholder="Cell" />
        </form>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Tab3</button>
      <clr-tab-content *clrIfActive>
        <form>
          <input clrInput type="text" placeholder="First Name" #firstName />
        </form>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
